.message__body {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    height: 100%;
}

.message__header {
    display: inline-block;
    width: 100%;
    height: 3rem;
    margin: 0;
}

.message__display {
    height: 15rem;
    width: 100%;
    margin: 0 .5rem;
    border: 3px solid black;
    overflow-y: auto;
    align-self: baseline;
    padding: .5rem;
}

.message__name {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.message__input__div {
    margin-bottom: 1rem;
    width: 100%;
    align-self: flex-end;
}

.message__field {
    width: 97.5%;
    margin-left: .5rem;
    align-self: baseline;
}

.message__input {
    height: 20px;
    width: 80%;
    margin-top: .5rem;
}

.save__button {
    float: right;
    margin-top: .6rem;
}