.task__body {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  height: 100%;
}

.task__header {
  display: inline-block;
  width: 100%;
  height: 3rem;
  margin: 0;
}

.task__display {
  height: 15rem;
  width: 100%;
  margin: 0 .5rem;
  border: 3px solid black;
  overflow-y: auto;
  align-self: baseline;
  padding: .5rem;
}

.task__name {
  display: inline-block;
  margin: 0;
  padding: 0;
  margin-bottom: .2rem;
  margin-left: .2rem;

}

.task__input__div {
  margin-bottom: 1rem;
  width: 100%;
  align-self: flex-end;
}

.single__task__div__checked > * {
  color: red;
  text-decoration: line-through;
}